docs/n8n_safeguard_workflow_template.json
{
  "id": "SafeGuardWorkpackDispatch",
  "name": "SafeGuard Workpack Dispatch",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "safeguard-workpack",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "SafeGuard Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "safeguard-workpack-dispatch",
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$headers['x-safeguard-secret']}}",
              "operation": "equals",
              "value2": "={{$env.SAFEGUARD_WEBHOOK_TOKEN}}"
            }
          ]
        }
      },
      "id": "check-secret",
      "name": "Check SafeGuard Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        260,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst workpack = body.workpack || {};\nconst message = workpack.message || '';\nreturn [{ json: { subject: `[SafeGuard] ${workpack.companyName || '현장'} 작업 전 문서팩`, channels: body.channels || [], recipients: body.recipients || [], operatorNote: body.operatorNote || '', text: `${message}\\n\\n${body.operatorNote || ''}`, workpack } }];"
      },
      "id": "format-message",
      "name": "Format Dispatch Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        -100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, workflowRunId: $execution.id, providerStatus: 'accepted', message: 'SafeGuard 전파 요청을 접수했습니다.' } }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        780,
        -100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: false, providerStatus: 'rejected', message: 'SafeGuard secret header is missing or invalid.' } }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "respond-rejected",
      "name": "Respond Rejected",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        520,
        120
      ]
    }
  ],
  "connections": {
    "SafeGuard Webhook": {
      "main": [
        [
          {
            "node": "Check SafeGuard Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check SafeGuard Secret": {
      "main": [
        [
          {
            "node": "Format Dispatch Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Dispatch Payload": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
